<!-- Category name -->
<header class="store-header">
    <h1 class="store-title">Welcome to Ilay's Store</h1>
</header>

<!-- Home page -->
<section class="product-content">
    <div class="product-box image-box">
        <img src="assets/images/store.png" alt="Store Image">
    </div>
    <div class="product-box info-box">
        <h2 class="product-title">Discover Our Collection</h2>    <!-- Prompt description about the website -->
        <p class="text">Explore top-quality electronics and sailing products. <br> Click on a category to browse our offerings!</p>
    </div>
</section>