<!-- Category name -->
<header class="category-header">
    <h1>Sailing</h1>
</header>

<!-- Define products -->
<section class="category-content">
    <app-product 
        title="Sail Yacht" 
        description="Premium yacht with state-of-the-art features." 
        imageUrl="assets/images/yacht.png" 
        productLink="/product/sail-yacht"></app-product>

    <app-product 
        title="Sailing Ropes" 
        description="Durable ropes for sailing needs." 
        imageUrl="assets/images/rope.png" 
        productLink="/product/sailing-ropes"></app-product>

    <app-product 
        title="Sails" 
        description="High-performance sails for stability." 
        imageUrl="assets/images/sails.png" 
        productLink="/product/sails"></app-product>

    <app-product 
        title="Sailing Smartwatch" 
        description="Track speed, location, and weather." 
        imageUrl="assets/images/sailingwatch.png" 
        productLink="/product/sailing-smartwatch"></app-product>
</section>
